.bigBox {
  background: #fbf7f7;
  border: 1px solid lightgray;
  grid-area: big-box;
  padding: 10px;
}

.playGround {
  border: 1px solid gray;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 0.25fr 1fr;
  grid-template-areas:
    ". start-game ."
    "big-box . game-input-area"
    ". game-result .";
  padding: 10px;
}

.startGame {
  grid-area: start-game;
}

.gameInputArea {
  display: grid;
  grid-area: game-input-area;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.gameResult {
  grid-area: game-result;
  text-align: center;
}

.redBox {
  background-color: red;
}

.blueBox {
  background-color: blue;
}

.greenBox {
  background-color: green;
}

.yellowBox {
  background-color: yellow;
}

.smallBox {
  border: 1px solid gray;
  cursor: pointer;
  padding: 20px;
}

button:disabled {
  cursor: not-allowed;
}

.startGame {
  background-color: #6DB9EE;
  border: 1px solid #2F79AD;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  padding: 10px;
}

.startGame:hover {
  background-color: #2F79AD;
}